# Stellar network configuration
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_PASSPHRASE="Test SDF Network ; September 2015"

# Smart contract addresses (automatically updated by scripts/deploy.sh)
NEXT_PUBLIC_CAMPUS_IDENTITY_CONTRACT_ID=CBW2NPZY4DDELBCZKWO2IX3WS7D4MWUQ57Q64AAYWJZWZCAI74K7IVRB
NEXT_PUBLIC_CAMPUS_TOKEN_CONTRACT_ID=CBRW5GWASYJ5O4XQUA5GHXOKS2EAY4ERQIYTSUZYM7GGK7PZVCYAUCT5
NEXT_PUBLIC_CAMPUS_SERVICE_CONTRACT_ID=CAAZZ46URMTTVXN3ZSFTLX7AUX65RFJ7PXXTODRY4DALP563RDE3K4X4

# Platform Admin account (public key)
NEXT_PUBLIC_CAMPUS_ADMIN_ADDRESS=GDLYWFB7IOMPWZTFYPTQZND4VCKUDEBXRDHL3DBQHRNV2GVILMNZXRAC
