# Stellar network configuration
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_PASSPHRASE="Test SDF Network ; September 2015"

# Smart contract addresses (automatically updated by scripts/deploy.sh)
NEXT_PUBLIC_CAMPUS_IDENTITY_CONTRACT_ID=CCA2UX3I3F4PNNMDCXAOWWKB36RRMI5TE76EC6YYRR2FYW6VQ3LAVOPH
NEXT_PUBLIC_CAMPUS_TOKEN_CONTRACT_ID=CBUXOUMJDEIT2QHEVK55VKZFDKAS5MGH5VX4XH3TPIWW7IAHKA6XB42Q
NEXT_PUBLIC_CAMPUS_SERVICE_CONTRACT_ID=CBRVDJT2BWYDRBIMBYFJUNJZSYOSVTB7A6WJSYLLDTWOCXMO3GF7MFXG

# Platform Admin account (public key)
NEXT_PUBLIC_CAMPUS_ADMIN_ADDRESS=GDLYWFB7IOMPWZTFYPTQZND4VCKUDEBXRDHL3DBQHRNV2GVILMNZXRAC
