# Stellar network configuration
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_PASSPHRASE="Test SDF Network ; September 2015"

# Smart contract addresses (automatically updated by scripts/deploy.sh)
NEXT_PUBLIC_CAMPUS_IDENTITY_CONTRACT_ID=CDUY5HVNFRCB3FGNUQ56FSY3NHOSLYSOMD3Q657ZA4NME2FK6ZYBVSNG
NEXT_PUBLIC_CAMPUS_TOKEN_CONTRACT_ID=CAXGGZBGG55UCPMX67VU3SK6PZS5PLE3G3P5WYL5L45A5DSWVH2HZIUG
NEXT_PUBLIC_CAMPUS_SERVICE_CONTRACT_ID=CBOQTUWKCN6ZFV35TWUVMT3H6YQ7RQQX7BFHGJDRMHM2KLVWKIS5KW54

# Platform Admin account (public key)
NEXT_PUBLIC_CAMPUS_ADMIN_ADDRESS=GDLYWFB7IOMPWZTFYPTQZND4VCKUDEBXRDHL3DBQHRNV2GVILMNZXRAC
