# Stellar network configuration
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# Admin key for deployment and signing (alias or secret key)
CAMPUSCHAIN_ADMIN_KEY=campuschain-admin

# Deployed contract IDs (automatically updated by scripts/deploy.sh)
CAMPUS_IDENTITY_CONTRACT_ID=CCJ5CKD3SBASRK7UPBFYZRNSK34QBFUPLODGMDUYB6DN6S757YX7Q6RL
CAMPUS_TOKEN_CONTRACT_ID=CBRM63DNDA6WDQEK4O5DYWIPXGGZCWY2CMNLJXJ5VE4DIXG33LIQREQU
CAMPUS_SERVICE_CONTRACT_ID=CATXNZONBST4TBPRT2EPMSELNU274ATN3RJBXV6OP6QHVS7SPEKNRJCF

# Platform Admin account (public key)
CAMPUS_ADMIN_ADDRESS=GDLYWFB7IOMPWZTFYPTQZND4VCKUDEBXRDHL3DBQHRNV2GVILMNZXRAC
